<div class="col-sm-4">
	     	
	     <!--	<a href="#" 	style=" margin-bottom: 2px;" class="thumbnail">
          <img src="holder.js/300x130">
        </a>-->
	     	
	     			<figure>
			                <a href="#">
			                    <img src="~/Images/hand.gif" />
			                    <figcaption>
									<div class="row">
									<div class="col-sm-12 h5">
									
									<table>
									
						
									
									<tr>
										<td>САНОЛИЯ СРТниколаев</td>
										<td style="width: 20px"> </td>
										<td>КУКУРУЗА</td>
									</tr>
									<tr>
									
										<td>ПШЕНИЦА 1класс</td>
										<td>   </td>
										<td>ПШЕНИЦА 4класс</td>
									</tr>
									<tr>
										<td>ПШЕНИЦА 2класс</td>
										<td>   </td>
										<td>ПШЕНИЦА 5класс</td>
									</tr>
										<td>ПШЕНИЦА 3класс</td>
										<td>   </td>
										<td>ПШЕНИЦА 6класс</td>
									</tr>
								
								
									
									</table>
									
									</div>
									</div>
			                    </figcaption>
			                </a>
			          </figure>
	     	
	     	</div>