
<h1>Регистрация нового пользователя</h1>
<hr>
Регистрация новых пользователей на данный момент отключена<br>
Вернуться в раздел @Html.ActionLink("Вход в личный кабинет","Login", "Account")



<div class="row">
	<hr>
						@Html.Partial("Banner1")
				
					</div>
