

<!DOCTYPE html>
<html>
	<head>
		<title>Buy</title>
	</head>
	<body>
		<div>
		Buy
		<br>
		@Html.ActionLink("О программе", "About", "Home")
		@Html.ActionLink("Выйти", "Logoff", "Account")
		</div>
	</body>
</html>
